<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in products %}
     <div class ="card"style="width:18 rem;">
        <img src="..."class="card-img-top"alt="...">
        <div class-="card-title">{{i.name}}
        <p class="card-text">{{i.price}}</p>
        <a href="{{ i.get_absolute_url }}" class="btn btn-primary" >details</a>
        </div>
     </div>
     {% endfor %}
</body>
</html>